<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuvometal Home</title>
</head>
<style>
    tab1{ padding-left: 2em; }
</style>
<body>
<fieldset>
    <p>
        {{ 'Welcome !' }}<br>
            {{ '&nbsp Here you can search suitable materials based on a specific property.' }}
            <p><tab1>{{ 'You can choose a property from the list (Density, Thermal Conductivity etc.),' }}</tab1></p>
            <p><tab1>{{ 'Enter the desired range of values for chosen property,' }}</tab1></p>
            {{ '&nbsp and we give you a list of materials that meet your criteria.' }}
    </p>
</fieldset>

<!--{{ summary_of_data }}-->
<p>{{ 'Please click on the link below to begin your material search:' }}</p>
<button type="button"><a href='material search/'><h3>MATERIAL SEARCH MENU</h3></a></button>
</body>
</html>